<header class="header">
    <div class="header__container">
        <!-- Logotipo/Título do Site -->
        <a href="/" class="header__logo">
            <img src="/images/logo-white.png" alt="{{ .Site.Params.brand_name }}" class="header__logo-img">
        </a>

        <!-- Navegação Principal -->
        <nav>
            <ul class="header__nav">
                <li><a href="/artigos/" class="header__link">Artigos</a></li>
                <li><a href="/estudos/" class="header__link">Estudos</a></li>
                <li><a href="/membros/" class="header__link">Membros</a></li>
                <li><a href="/sobre/" class="header__link">Sobre</a></li>
            </ul>
        </nav>
    </div>
</header>