<header class="bg-[#0D3E62] text-white shadow-lg">
    <div class="container mx-auto px-4 py-4 flex justify-between items-center">
        <!-- Logotipo/Título do Site -->
        <a href="/" class="text-2xl font-bold tracking-wider hover:text-[#C3B173] transition duration-300">
            {{ .Site.Params.brand_name }}
        </a>

        <!-- Navegação Principal -->
        <nav>
            <ul class="flex space-x-6 text-sm font-semibold">
                <li><a href="/artigos/" class="hover:text-[#C3B173] transition duration-300">Artigos</a></li>
                <li><a href="/estudos/" class="hover:text-[#C3B173] transition duration-300">Estudos</a></li>
                <li><a href="/membros/" class="hover:text-[#C3B173] transition duration-300">Membros</a></li>
                <li><a href="/sobre/" class="hover:text-[#C3B173] transition duration-300">Sobre</a></li>
            </ul>
        </nav>
    </div>
</header>